@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  /* Navbar height */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-red: #E30613;
  --brand-yellow: #FFD400;
  --brand-blue: #009FE3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-red: var(--brand-red);
  --color-brand-yellow: var(--brand-yellow);
  --color-brand-blue: var(--brand-blue);
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
  overflow-x: hidden;
  width: 100%;
}